/* custom font */
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* custom font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: black;
}
html {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
#pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
#flexContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
}
nav {
  height: 8vh;
  width: 100%;
  background-color: black;
  position: fixed;
}
#navContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#navText {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
}
#navText a {
  text-decoration: none;
  color: white;
  width: 100%;
  border-radius: 40px;
}
.activeNavBarLink {
  flex-grow: 0.01;
  box-shadow: 1px 1px 10px rgb(95, 156, 202);
}
#navText a:hover {
  flex-grow: 0.01;
  box-shadow: 1px 1px 10px rgb(95, 156, 202);
}
#navContainer img {
  width: 8vh;
}
#flexContainer {
  height: 84vh;
  display: flex;
}
#homePageA {
  height: 100%;
  width: 100%;
}
#homePageA .preston {
  position: fixed;
  width: 20em;
  margin-top: 20vh;
  padding-left: 5%;
  color: white;
}
#homePageB {
  margin-left: 15em;
  margin-top: 8vh;
  height: calc(100vh - 16vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  overflow-y: auto;
  padding: 20px;
  max-width: 100%;
  overflow-wrap: break-word;
}

#workHistory {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.jobTitle {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.company {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.location,
.date {
  font-size: 1em;
  text-align: right;
  display: block;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}

#footer {
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#tags {
  margin-bottom: 0;
  width: 6em;
  position: relative;
  display: flex;
}
.tag {
  margin: auto;
  position: relative;
  height: 40px;
  width: 40px;
  opacity: 1;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.631);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag:hover {
  flex-grow: 0.02;
  box-shadow: 1px 1px 10px rgb(95, 156, 202);
}
.tag:active {
  box-shadow: -1px -1px 10px black;
}
.tag img {
  width: 40%;
}
.tag:hover {
  flex-grow: 0.1;
}
