/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: fixed;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

/* navbar styles */
nav {
  height: 10vh;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}

.prestonLogo {
  width: 100%;
  max-width: 10%;
  height: auto;
}

.prestonLogo img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.navText {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
}

.navText a {
  text-decoration: none;
  color: #fff;
  flex: 1;
  text-align: center;
}

.navText a:hover {
  box-shadow: inset 1px 0 1em #61478a;
  color: white;
  text-decoration: underline;
}

/* Page Container Styles */
.pageContainer {
  display: flex;
  width: 100%;
  height: calc(90vh);
}

/* split side of screen */
.homePageA,
.homePageB {
  flex: 1;
  height: 100%;
  width: 50vb;
}

.scrollableContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
/* centers all h2 titles for display on right side of screen */
.title {
  text-align: center;
}
/* style about me page */
.aboutMe {
  margin-top: 20vb;
  margin-left: 5vi;
}
/* footer fixed links in lower left of page */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #121212;
  z-index: 1000;
  padding: 10px 0;
}

.tags {
  display: flex;
  justify-content: left;
}

.tags img {
  width: 36px;
  height: auto;
  margin: 0 10px;
}
